html, body {
    width: 100%;
    height: 100%;
    /*background-color: #04080A;*/
    background-color: #000;
}

#sky {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: transparent url(stars.png) repeat top center;
}

#twinkling{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: transparent url(twinkling.png) repeat top center;
    -webkit-animation: twink 600s linear infinite;
    -moz-animation: twink 600s linear infinite;
    -ms-animation: twink 600s linear infinite;
    -o-animation: twink 600s linear infinite;
    animation: twink 600s linear infinite;
}


#sun {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 64px yellow;
    
    -webkit-animation: sunPulse 2s infinite;
    -moz-animation: sunPulse 2s infinite;
    -ms-animation: sunPulse 2s infinite;
    -o-animation: sunPulse 2s infinite;
    animation: sunPulse 2s infinite;
}

#earth {
    position: absolute;
    top: 0;
    left: 50%;
    height: 40px;
    width: 40px;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    box-shadow: 0 0 62px LightBlue;
}

#earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
    margin-left: -250px;
    margin-top: -250px;
    border: 2px dotted #1f1f1f;
    border-radius: 50%;
    
    -webkit-animation: spin-right 225s linear infinite;
    -moz-animation: spin-right 225s linear infinite;
    -ms-animation: spin-right 225s linear infinite;
    -o-animation: spin-right 225s linear infinite;
    animation: spin-right 225s linear infinite;
}

#moon {
    position: absolute;
    top: 0;
    left: 50%;
    height: 10px;
    width: 10px;
    margin-left: 0;
    margin-top: -5px;
    background: #8E8E8E;
    border-radius: 50%;
    box-shadow: 0 0 62px LightBlue;
}

#moon-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -57px;
    margin-top: -305px;
    border-radius: 50%;
    
    -webkit-animation: spin-right 25s linear infinite;
    -moz-animation: spin-right 25s linear infinite;
    -ms-animation: spin-right 25s linear infinite;
    -o-animation: spin-right 25s linear infinite;
    animation: spin-right 25s linear infinite;
}

#rocket-trajectory {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    
    -webkit-animation: rocketJump 10s cubic-bezier(0, 0, 0.35, 1);
    -moz-animation: rocketJump 10s cubic-bezier(0, 0, 0.35, 1);
    -ms-animation: rocketJump 10s cubic-bezier(0, 0, 0.35, 1);
    -o-animation: rocketJump 10s cubic-bezier(0, 0, 0.35, 1);
    animation: rocketJump 10s cubic-bezier(0, 0, 0.35, 1);
    
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
}

#rocket {
    height: 30px;
    -webkit-animation: rocket 10s ease;
    -moz-animation: rocket 10s ease;
    -ms-animation: rocket 10s ease;
    -o-animation: rocket 10s ease;
    animation: rocket 10s ease;
}

/* Sky transformations */
@-webkit-keyframes twink {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes twink {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

/* Spin orbit clockwise */
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
   }   
}

/* Sun Pulse */
@-webkit-keyframes sunPulse {
    from {background-color: #222; -webkit-box-shadow: 0 0 54px #FFCC00;}
    50% {background-color: yellow; -webkit-box-shadow: 0 0 64px #ff0;}
    to {background-color: #222; -webkit-box-shadow: 0 0 54px #fc0;}
}
@keyframes sunPulse {
    from {background-color: black; -webkit-box-shadow: 0 0 64px yellow;}
    50% {background-color: yellow; -webkit-box-shadow: 0 0 64px yellow;}
    to {background-color: black; -webkit-box-shadow: 0 0 64px yellow;}
}

/* Rocket Trajectory transformations */
@-webkit-keyframes rocketJump {
    0% {
        -webkit-transform: translate(100%, 100%);
        -moz-transform: translate(100%, 100%);
        -ms-transform: translate(100%, 100%);
        -o-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
    50% {
        -webkit-transform: translate(90%, 50%);
        -moz-transform: translate(90%, 50%);
        -ms-transform: translate(90%, 50%);
        -o-transform: translate(90%, 50%);
        transform: translate(90%, 50%);
    }
    100% {
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -ms-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
}
@keyframes rocketJump {
    0% {
        -webkit-transform: translate(100%, 100%);
        -moz-transform: translate(100%, 100%);
        -ms-transform: translate(100%, 100%);
        -o-transform: translate(100%, 100%);
        transform: translate(100%, 100%);
    }
    50% {
        -webkit-transform: translate(90%, 50%);
        -moz-transform: translate(90%, 50%);
        -ms-transform: translate(90%, 50%);
        -o-transform: translate(90%, 50%);
        transform: translate(90%, 50%);
    }
    100% {
        -webkit-transform: translate(100%, 0%);
        -moz-transform: translate(100%, 0%);
        -ms-transform: translate(100%, 0%);
        -o-transform: translate(100%, 0%);
        transform: translate(100%, 0%);
    }
}

/* Rocket transformations */
@-webkit-keyframes rocket {
    0%, 45% {
        border: none;
        box-shadow: none;
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
    50% {
        border-radius: 50%;
        box-shadow: -50px 50px 102px #7A7A00;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    65%, 100% {
        border: none;
        box-shadow: none;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}
@keyframes rocket {
    0%, 45% {
        border: none;
        box-shadow: none;
        -webkit-transform: rotate(-70deg);
        -moz-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        -o-transform: rotate(-70deg);
        transform: rotate(-70deg);
    }
    50% {
        border-radius: 50%;
        box-shadow: -50px 50px 102px #7A7A00;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    65%, 100% {
        border: none;
        box-shadow: none;
        -webkit-transform: rotate(-20deg);
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
}
/* / Rocket transformations */